<?xml version="1.0" encoding="UTF-8"?>
<!--

    repowatch - A yum repository watcher

    Copyright (C) 2008 Richard "Shred" Körber
      http://repowatch.shredzone.org

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/RepowatchDS"/>
  <jee:jndi-lookup id="dataSourceProperties" jndi-name="java:comp/env/hibernate/RepowatchDS"/>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration"/>
    <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    <property name="hibernateProperties" ref="dataSourceProperties"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
      p:sessionFactory-ref="sessionFactory"/>

  <context:annotation-config/>
  <tx:annotation-driven/>

  <context:component-scan base-package="org.shredzone.repowatch" />

  <bean id="repowatchConfiguration" class="org.shredzone.repowatch.config.PropertyConfigurationBean">
    <property name="entriesPerPage" value="25"/>
    <property name="rssMaxNumberOfDays" value="5"/>
    <property name="rssMaxNumberOfEntries" value="50"/>
    <property name="searchTermMinLength" value="3"/>
  </bean>

</beans>
