<?xml version='1.0' encoding='utf-8'?>
<!--

    repowatch - A yum repository watcher

    Copyright (C) 2008 Richard "Shred" Körber
      http://repowatch.shredzone.org

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <mapping class="org.shredzone.repowatch.model.BaseModel"/>
    <mapping class="org.shredzone.repowatch.model.Change"/>
    <mapping class="org.shredzone.repowatch.model.Domain"/>
    <mapping class="org.shredzone.repowatch.model.Package"/>
    <mapping class="org.shredzone.repowatch.model.Repository"/>
    <mapping class="org.shredzone.repowatch.model.Version"/>
    <mapping class="org.shredzone.repowatch.model.Blacklist"/>
  </session-factory>
</hibernate-configuration>